<header id="header"></header>
<div id="banner">

</div>
<div id="content">
  <div class="wrapper">
    <ul class="list-item">
      <li>
        <div><img src="<%= require('../../../public-resource/imgs/company-scope/outter-design.png') %>" alt=""></div>
        <dl>
          <dt>产品外观设计</dt>
          <dd>设计研究</dd>
          <dd>产品外观设计</dd>
          <dd>产品结构设计</dd>
          <dd>生产监理与制造</dd>
        </dl>
      </li>
      <li>
        <div><img src="<%= require('../../../public-resource/imgs/company-scope/structure-design.png') %>" alt=""></div>
        <dl>
          <dt>结构设计</dt>
          <dd>品牌内涵及主张</dd>
          <dd>产品线梳理与规划</dd>
          <dd>产品品牌形象塑造</dd>
          <dd>产品形象系统标准化</dd>
        </dl>
      </li>
      <li>
        <div><img src="<%= require('../../../public-resource/imgs/company-scope/handboard-design.png') %>" alt=""></div>
        <dl>
          <dt>手板制作</dt>
          <dd>专业手持类</dd>
          <dd>手板类</dd>
          <dd>工具设备设计</dd>
        </dl>
      </li>
      <li>
        <div><img src="<%= require('../../../public-resource/imgs/company-scope/modal-design.png') %>" alt=""></div>
        <dl>
          <dt>模具制作</dt>
          <dd>模具制造</dd>
          <dd>批量生产</dd>
          <dd>我们更专业</dd>
        </dl>
      </li>
      <li>
        <div><img src="<%= require('../../../public-resource/imgs/company-scope/ui-design.png') %>" alt=""></div>
        <dl>
          <dt>平面设计</dt>
          <dd>平面设计</dd>
          <dd>网站设计</dd>
          <dd>动画设计</dd>
          <dd>UI设计</dd>
        </dl>
      </li>
      <li>
        <div><img src="<%= require('../../../public-resource/imgs/company-scope/3d-print.png') %>" alt=""></div>
        <dl>
          <dt>3D打印</dt>
          <dd>专业领先</dd>
          <dd>3D打印设备</dd>
          <dd>让你的想法更近一步</dd>
        </dl>
      </li>
    </ul>
    <div class="friendly-link">
      <p>友情链接</p>
      <ul class="clear">
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
      </ul>
    </div>
  </div>
</div>
<footer id="footer"></footer>