<!-- banner -->
<div id="banner"> 
</div>
<div id="floating">
  <div>
      <ul>
          <li><a href="#"><img src="<%= require('../../../public-resource/imgs/floating_01.jpg') %>" alt=""></a></li>
          <li><a href="#"><img src="<%= require('../../../public-resource/imgs/floating_02.jpg') %>" alt=""></a></li>
          <li><a href="#"><img src="<%= require('../../../public-resource/imgs/floating_03.jpg') %>" alt=""></a></li>
          <li><a href="#"><img src="<%= require('../../../public-resource/imgs/floating_04.jpg') %>" alt=""></a></li>
      </ul>
  </div>
  
</div>
  
<!-- 中间展示内容 -->
<div id="content">
  <div class="wrapper">
      <div class="scope">
          <div>
              <p>经营范围<span>SCOPE OF BUSINESS</span></p>
              <div><p></p></div>
          </div>
          <ul>
              <li>
                  <img src="<%= require('../../../public-resource/imgs/industrial-equipment.png') %>" alt="">
                  <span>工业设备</span>
              </li>
              <li>
                  <img src="<%= require('../../../public-resource/imgs/medical-equipment.png') %>" alt="">
                  <span>医疗设备</span>
              </li>
              <li>
                  <img src="<%= require('../../../public-resource/imgs/Electronic-appliance.png') %>" alt="">
                  <span>电子家电</span>
              </li>
              <li>
                  <img src="<%= require('../../../public-resource/imgs/handheld-device.png') %>" alt="">
                  <span>手持设备</span>
              </li>
              <li>
                  <img src="<%= require('../../../public-resource/imgs/instrument.png') %>" alt="">
                  <span>仪器仪表</span>
              </li>
              <li>
                  <img src="<%= require('../../../public-resource/imgs/Industrial-cabinet.png') %>" alt="">
                  <span>工控机柜</span>
              </li>
              <li>
                  <img src="<%= require('../../../public-resource/imgs/mold-making.png') %>" alt="">
                  <span>模具制作</span>
              </li>
              <li>
                  <img src="<%= require('../../../public-resource/imgs/company-VI.png') %>" alt="">
                  <span>企业VI</span>
              </li>
          </ul>
      </div>
      <div class="successful-cases">
          <div>
              <p>行业成功案例<span>SUCCESSFUL CASES</span></p>
              <div><p></p></div>
          </div>
          <div class="wrapper">
              <div class="boxa">
                  <div>
                     <span>大设备设计</span> 
                     <p>大型工业设备以其复杂、设计的专业而著称，因此做大型设备需要找及其专业和有丰富经验的设计公司才能得到完美的解决。</p>
                     <p>
                        <span>北京工业设计公司--感感佳是业界大型设备的专家和学者。</span> 
                        <span>感感佳设计--好的感觉，好的设计。</span>
                     </p>
                  </div>
                  <img src="<%= require('../../../public-resource/imgs/big-equipment.jpg') %>" alt="">
              </div>
              <div class="boxb">
                  <a>自动化机械研发</a>
                  <img src="<%= require('../../../public-resource/imgs/automation-research.jpg') %>" alt="">
              </div>
              <div class="boxc">
                  <a>电子及家电设备</a>
                  <img src="<%= require('../../../public-resource/imgs/Electronic-appliance.jpg') %>" alt="">
              </div>
              <div class="boxd">
                  <a>企业VI界面设计</a>
                  <img src="<%= require('../../../public-resource/imgs/company-VI.jpg') %>" alt="">
              </div>
              <div class="boxe">
                  <a>模具制作</a>
                  <img src="<%= require('../../../public-resource/imgs/mold-making.jpg') %>" alt="">
              </div>
              <div class="boxf">
                  <a>医疗设备与工控类设计</a>
                  <img src="<%= require('../../../public-resource/imgs/medical-design.jpg') %>" alt="">
              </div>
              <div class="boxg">
                  <a>手持设备</a>
                  <img src="<%= require('../../../public-resource/imgs/handheld-device.jpg') %>" alt="">
              </div>
          </div>
      </div>
  </div>
  <div class="culture">
      <div class="clear">
          <div class="left">
              <div class="clear">
                  <p>爱因斯坦曾经说过，想象力是最重要的。我一直以为，在某种程度上，科学家丰富的想象力，活跃的创新思维，决定了其远大科研目标能否取得成功的一大半。</p>
                  <p class="pull-right">--中国科学院院长路甬祥</p>
              </div> 
          </div>
          <div class="right">
              <div class="clear">
                  <p>设计造物，产业升级与造福社会</p>
                  <p class="pull-right">--感感佳CEO 洪李林</p>
              </div>
              <div class="clear">
                  <p>加快农村地区宽带网络建设是大势所趋、势在必行</p>
                  <p class="pull-right">--工信部副部长陈肇雄</p>
              </div>
          </div>
      </div>
  </div>
  <div class="">
      <div class="canDo">
          <p>WHAT WE CAN DO</p>
          <ul>
              <li>
                  <div><img src="<%= require('../../../public-resource/imgs/case1.jpg') %>" alt=""></div>
                  <div>
                      <span>中央空调风冷机</span>
                      <span>Central air conditioning</span>
                  </div>
              </li>
              <li>
                  <div><img src="<%= require('../../../public-resource/imgs/case2.jpg') %>" alt=""></div>
                  <div>
                      <span>中央空调风冷机</span>
                      <span>Central air conditioning</span>
                  </div>
              </li>
              <li>
                  <div><img src="<%= require('../../../public-resource/imgs/case3.jpg') %>" alt=""></div>
                  <div>
                      <span>中央空调风冷机</span>
                      <span>Central air conditioning</span>
                  </div>
              </li>
              <li>
                  <div><img src="<%= require('../../../public-resource/imgs/case4.jpg') %>" alt=""></div>
                  <div>
                      <span>中央空调风冷机</span>
                      <span>Central air conditioning</span>
                  </div>
              </li>
              <li>
                  <div><img src="<%= require('../../../public-resource/imgs/case5.jpg') %>" alt=""></div>
                  <div>
                      <span>中央空调风冷机</span>
                      <span>Central air conditioning</span>
                  </div>
              </li>
          </ul>
      </div>
      <div class="honor">
          <div>
              <b>设计师荣誉</b>
              <img src="<%= require('../../../public-resource/imgs/line.png') %>" alt="">
          </div>
          <ul>
              <li>
                  <img src="<%= require('../../../public-resource/imgs/honor1.jpg') %>" alt="">
                  <span>日本颁奖之旅</span>
              </li>
              <li>
                  <img src="<%= require('../../../public-resource/imgs/honor1.jpg') %>" alt="">
                  <span>日本颁奖之旅</span>
              </li>
              <li>
                  <img src="<%= require('../../../public-resource/imgs/honor1.jpg') %>" alt="">
                  <span>日本颁奖之旅</span>
              </li>
              <li>
                  <img src="<%= require('../../../public-resource/imgs/honor1.jpg') %>" alt="">
                  <span>日本颁奖之旅</span>
              </li>
              <li>
                  <img src="<%= require('../../../public-resource/imgs/honor1.jpg') %>" alt="">
                  <span>日本颁奖之旅</span>
              </li>
              <li>
                  <img src="<%= require('../../../public-resource/imgs/honor1.jpg') %>" alt="">
                  <span>日本颁奖之旅</span>
              </li>
          </ul>
      </div>
      <div class="customer-cases">
          <div>
              <p>客户案例<span>CUSTOMER CASES</span></p>
              <div><p></p></div>
          </div>
          <ul>
              <li><img src="<%= require('../../../public-resource/imgs/case1.jpg') %>" alt=""></li>
              <li>
                  <span>
                      <b>中交集团</b>
                      <img src="<%= require('../../../public-resource/imgs/case-arrow.png') %>" alt="">
                  </span>
              </li>
              <li><img src="<%= require('../../../public-resource/imgs/case2.jpg') %>" alt=""></li>
              <li>
                  <span>
                      <b>中交集团</b>
                      <img src="<%= require('../../../public-resource/imgs/case-arrow.png') %>" alt="">
                  </span>
              </li>
              <li><img src="<%= require('../../../public-resource/imgs/case3.jpg') %>" alt=""></li>
              <li>
                  <span>
                      <b>松下电器</b>
                      <img src="<%= require('../../../public-resource/imgs/case-arrow.png') %>" alt="">
                  </span>
              </li>
              <li><img src="<%= require('../../../public-resource/imgs/case4.jpg') %>" alt=""></li>
              <li>
                  <span>
                      <b>北京邮电大学</b>
                      <img src="<%= require('../../../public-resource/imgs/case-arrow.png') %>" alt="">
                  </span>
              </li>
              <li><img src="<%= require('../../../public-resource/imgs/case5.jpg') %>" alt=""></li>
              <li>
                  <span>
                      <b>中交集团</b>
                      <img src="<%= require('../../../public-resource/imgs/case-arrow.png') %>" alt="">
                  </span>
              </li>
          </ul>
          <p><a href="#">更多→</a></p>
      </div>
      <div class="co-partner">
          <div>
              <p>合作伙伴<span>COOPERATIVE PARTNER</span></p>
              <div><p></p></div>
          </div>
          <ul>
              <li class="no-margin">
                  <a href="#">
                      <img src="<%= require('../../../public-resource/imgs/partner1.jpg') %>" alt="">
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="<%= require('../../../public-resource/imgs/partner2.jpg') %>" alt="">
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="<%= require('../../../public-resource/imgs/partner3.jpg') %>" alt="">
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="<%= require('../../../public-resource/imgs/partner4.jpg') %>" alt="">
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="<%= require('../../../public-resource/imgs/partner1.jpg') %>" alt="">
                  </a>
              </li>
              <li class="no-margin">
                  <a href="#">
                      <img src="<%= require('../../../public-resource/imgs/partner1.jpg') %>" alt="">
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="<%= require('../../../public-resource/imgs/partner1.jpg') %>" alt="">
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="<%= require('../../../public-resource/imgs/partner1.jpg') %>" alt="">
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="<%= require('../../../public-resource/imgs/partner1.jpg') %>" alt="">
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="<%= require('../../../public-resource/imgs/partner1.jpg') %>" alt="">
                  </a>
              </li>
              <li class="no-margin">
                  <a href="#">
                      <img src="<%= require('../../../public-resource/imgs/partner1.jpg') %>" alt="">
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="<%= require('../../../public-resource/imgs/partner1.jpg') %>" alt="">
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="<%= require('../../../public-resource/imgs/partner1.jpg') %>" alt="">
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="<%= require('../../../public-resource/imgs/partner1.jpg') %>" alt="">
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img src="<%= require('../../../public-resource/imgs/partner1.jpg') %>" alt="">
                  </a>
              </li>
          </ul>
      </div>
      <div class="evaluation">
          <div>
              <p>客户评价<span>THE CUSTOMER EVALUATION</span></p>
              <div><p></p></div>
          </div>
          <div>
              <div class="main">
                  <span>大型设备工业设计</span>
                  <p>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi officia quod quas! Labore necessitatibus, adipisci, repellendus ipsa illum non dignissimos nobis consequuntur quae iusto fugiat a. Adipisci quas laudantium consequuntur
                  </p>
                  <div>
                      <img src="<%= require('../../../public-resource/imgs/avatar.png') %>" alt="">
                      <p>对外出口业务</p>
                  </div>
              </div>
              <div class="arrow-left">
                  <img src="<%= require('../../../public-resource/imgs/evaluation-arrow-left.png') %>" alt="">
              </div>
              <div class="arrow-right">
                  <img src="<%= require('../../../public-resource/imgs/evaluation-arrow-right.png') %>" alt="">
              </div>
          </div>
      </div>
  </div>
  <div class="kingdom-design">
      <div class="content">
          <div>
              <p>设计国度<span>THE KINGDOM OF DESIGN</span></p>
              <div><p></p></div>
          </div>
          <div class="bottom">
              <ul class="sidebar">
                  <li class="active">
                      <p><a>国际篇</a></p>
                  </li>   
                  <li>
                      <p><a>国内篇</a></p>
                  </li>   
                  <li>
                      <p><a>产品篇</a></p>
                  </li>   
                  <li>
                      <p><a>活动大赛</a></p>
                  </li>   
              </ul>
              <div class="photo">
                  <div class="boxa">
                      <img src="<%= require('../../../public-resource/imgs/king4.png') %>" alt="">
                  </div>
                  <div class="boxb">
                  </div>
                  <div class="boxc">
                      <img src="<%= require('../../../public-resource/imgs/king1.png') %>" alt="">
                  </div>
                  <div class="boxd">
                      <img src="<%= require('../../../public-resource/imgs/king2.png') %>" alt="">
                  </div>
                  <div class="boxe">
                      <img src="<%= require('../../../public-resource/imgs/king3.png') %>" alt="">
                  </div>
                  <div class="boxf">
                  </div>
                  <div class="boxg">
                      <img src="<%= require('../../../public-resource/imgs/king5.png') %>" alt="">
                  </div>
                  <div class="boxh">
                      <img src="<%= require('../../../public-resource/imgs/king6.png') %>" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="section-last">
      <div class="company-news">
          <div>
              <p>公司新闻<span>COMPANY NEWS</span></p>
              <div><p></p></div>
          </div>
          <div class="list-item">
              <a>
                  <img src="<%= require('../../../public-resource/imgs/arrow-left.png') %>" alt="">
              </a>
              <a>
                  <img src="<%= require('../../../public-resource/imgs/arrow-right.png') %>" alt="">
              </a>
              <ul class="clear">
                  <li>
                      <a href="#">
                          <img src="<%= require('../../../public-resource/imgs/news1.jpg') %>" alt="">
                          <p>感感佳受邀出席红星奖</p>
                      </a>
                  </li>                 
                  <li>
                      <a href="#">
                          <img src="<%= require('../../../public-resource/imgs/news1.jpg') %>" alt="">
                          <p>感感佳受邀出席红星奖</p>
                      </a>
                  </li>                 
                  <li>
                      <a href="#">
                          <img src="<%= require('../../../public-resource/imgs/news1.jpg') %>" alt="">
                          <p>感感佳受邀出席红星奖</p>
                      </a>
                  </li>                 
                  <li>
                      <a href="#">
                          <img src="<%= require('../../../public-resource/imgs/news1.jpg') %>" alt="">
                          <p>感感佳受邀出席红星奖</p>
                      </a>
                  </li>                 
                  <li>
                      <a href="#">
                          <img src="<%= require('../../../public-resource/imgs/news1.jpg') %>" alt="">
                          <p>感感佳受邀出席红星奖</p>
                      </a>
                  </li>               
              </ul>
          </div>
      </div>
      <div class="friendly-link">
          <p>友情链接</p>
          <ul class="clear">
              <li>
                  <a href="http://www.baidu.com">百度</a>
              </li>
              <li>
                  <a href="http://www.baidu.com">百度</a>
              </li>
              <li>
                  <a href="http://www.baidu.com">百度</a>
              </li>
              <li>
                  <a href="http://www.baidu.com">百度</a>
              </li>
              <li>
                  <a href="http://www.baidu.com">百度</a>
              </li>
              <li>
                  <a href="http://www.baidu.com">百度</a>
              </li>
          </ul>
      </div>
  </div>
</div>