<header id="header"></header>
<div id="product-banner">
</div>
<div id="main-content">
  <div class="container">

    <ul class="icon-list">
      <li>
        <div><img src="<%= require('../../../public-resource/imgs/product-case/工业设备1.png') %>" alt=""></div>
        <span>工业设备</span>
      </li>
      <li>
        <div><img src="<%= require('../../../public-resource/imgs/product-case/工业设备1.png') %>" alt=""></div>
        <span>工业设备</span>
      </li>
      <li>
        <div><img src="<%= require('../../../public-resource/imgs/product-case/工业设备1.png') %>" alt=""></div>
        <span>工业设备</span>
      </li>
      <li>
        <div><img src="<%= require('../../../public-resource/imgs/product-case/工业设备1.png') %>" alt=""></div>
        <span>工业设备</span>
      </li>
      <li>
        <div><img src="<%= require('../../../public-resource/imgs/product-case/工业设备1.png') %>" alt=""></div>
        <span>工业设备</span>
      </li>
      <li>
        <div><img src="<%= require('../../../public-resource/imgs/product-case/工业设备1.png') %>" alt=""></div>
        <span>工业设备</span>
      </li>
      <li>
        <div><img src="<%= require('../../../public-resource/imgs/product-case/工业设备1.png') %>" alt=""></div>
        <span>工业设备</span>
      </li>
      <li>
        <div><img src="<%= require('../../../public-resource/imgs/product-case/工业设备1.png') %>" alt=""></div>
        <span>工业设备</span>
      </li>
      <li>
        <div><img src="<%= require('../../../public-resource/imgs/product-case/工业设备1.png') %>" alt=""></div>
        <span>工业设备</span>
      </li>
    </ul>

    <div>
      <ul class="list-item clear">
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/product-case/case1.jpg') %>" alt=""></div>
          <p>大型工业设备</p>
          <a href="#">查看详情</a>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/product-case/case2.jpg') %>"  alt=""></div>
          <p>粘箱机组</p>
          <a href="#">查看详情</a>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/product-case/case3.jpg') %>"  alt=""></div>
          <p>模切机</p>
          <a href="#">查看详情</a>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/product-case/case4.jpg') %>"  alt=""></div>
          <p>贴窗机</p>
          <a href="#">查看详情</a>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/product-case/case5.jpg') %>" alt=""></div>
          <p>大型工业设备</p>
          <a href="#">查看详情</a>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/product-case/case6.jpg') %>"  alt=""></div>
          <p>粘箱机组</p>
          <a href="#">查看详情</a>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/product-case/case7.jpg') %>"  alt=""></div>
          <p>模切机</p>
          <a href="#">查看详情</a>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/product-case/case8.jpg') %>"  alt=""></div>
          <p>贴窗机</p>
          <a href="#">查看详情</a>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/product-case/case1.jpg') %>"  alt=""></div>
          <p>大型工业设备</p>
          <a href="#">查看详情</a>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/product-case/case2.jpg') %>"  alt=""></div>
          <p>粘箱机组</p>
          <a href="#">查看详情</a>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/product-case/case3.jpg') %>"  alt=""></div>
          <p>模切机</p>
          <a href="#">查看详情</a>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/product-case/case4.jpg') %>"  alt=""></div>
          <p>贴窗机</p>
          <a href="#">查看详情</a>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/product-case/case5.jpg') %>" alt=""></div>
          <p>大型工业设备</p>
          <a href="#">查看详情</a>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/product-case/case6.jpg') %>"  alt=""></div>
          <p>粘箱机组</p>
          <a href="#">查看详情</a>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/product-case/case7.jpg') %>"  alt=""></div>
          <p>模切机</p>
          <a href="#">查看详情</a>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/product-case/case8.jpg') %>"  alt=""></div>
          <p>贴窗机</p>
          <a href="#">查看详情</a>
        </li>
      </ul>
      <div>此处为分页组件</div>
    </div>

    <div class="friendly-link">
      <p>友情链接</p>
      <ul class="clear">
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
      </ul>
    </div>
  </div>
</div>
<footer id="footer"></footer>