<div id="banner"></div>
<div id="content">
  <div class="wrapper">
    <div>
      <ul class="list-item">
        <li class="active"><a href="#">国际篇</a></li>
        <li><a href="#">国内篇</a></li>
        <li><a href="#">产品篇</a></li>
        <li><a href="#">活动大赛</a></li>
      </ul>
      <div class="tab-content">
        <ul class="list-news">
          <li>
            <div class="pull-left">
              <img src="<%= require('../../../public-resource/imgs/king-design/1.jpg') %>" alt="">
            </div>
            <div class="">
              <span>感感佳受邀出席北京峰会</span>
              <p>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北</p>
              <a href="#"><img src="<%= require('../../../public-resource/imgs/king-design/detail-button.png') %>" alt=""></a>
            </div>
          </li>
          <li>
            <div class="pull-left">
              <img src="<%= require('../../../public-resource/imgs/king-design/1.jpg') %>" alt="">
            </div>
            <div class="">
              <span>感感佳受邀出席北京峰会</span>
              <p>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北</p>
              <a href="#"><img src="<%= require('../../../public-resource/imgs/king-design/detail-button.png') %>" alt=""></a>
            </div>
          </li>
          <li>
            <div class="pull-left">
              <img src="<%= require('../../../public-resource/imgs/king-design/1.jpg') %>" alt="">
            </div>
            <div class="">
              <span>感感佳受邀出席北京峰会</span>
              <p>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北</p>
              <a href="#"><img src="<%= require('../../../public-resource/imgs/king-design/detail-button.png') %>" alt=""></a>
            </div>
          </li>
          <li>
            <div class="pull-left">
              <img src="<%= require('../../../public-resource/imgs/king-design/1.jpg') %>" alt="">
            </div>
            <div class="">
              <span>感感佳受邀出席北京峰会</span>
              <p>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北</p>
              <a href="#"><img src="<%= require('../../../public-resource/imgs/king-design/detail-button.png') %>" alt=""></a>
            </div>
          </li>
          <li>
            <div class="pull-left">
              <img src="<%= require('../../../public-resource/imgs/king-design/1.jpg') %>" alt="">
            </div>
            <div class="">
              <span>感感佳受邀出席北京峰会</span>
              <p>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北</p>
              <a href="#"><img src="<%= require('../../../public-resource/imgs/king-design/detail-button.png') %>" alt=""></a>
            </div>
          </li>
          <li>
            <div class="pull-left">
              <img src="<%= require('../../../public-resource/imgs/king-design/1.jpg') %>" alt="">
            </div>
            <div class="">
              <span>感感佳受邀出席北京峰会</span>
              <p>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北</p>
              <a href="#"><img src="<%= require('../../../public-resource/imgs/king-design/detail-button.png') %>" alt=""></a>
            </div>
          </li>
          <li>
            <div class="pull-left">
              <img src="<%= require('../../../public-resource/imgs/king-design/1.jpg') %>" alt="">
            </div>
            <div class="">
              <span>感感佳受邀出席北京峰会</span>
              <p>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北</p>
              <a href="#"><img src="<%= require('../../../public-resource/imgs/king-design/detail-button.png') %>" alt=""></a>
            </div>
          </li>
          <li>
            <div class="pull-left">
              <img src="<%= require('../../../public-resource/imgs/king-design/1.jpg') %>" alt="">
            </div>
            <div class="">
              <span>感感佳受邀出席北京峰会</span>
              <p>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北</p>
              <a href="#"><img src="<%= require('../../../public-resource/imgs/king-design/detail-button.png') %>" alt=""></a>
            </div>
          </li>
          <li>
            <div class="pull-left">
              <img src="<%= require('../../../public-resource/imgs/king-design/1.jpg') %>" alt="">
            </div>
            <div class="">
              <span>感感佳受邀出席北京峰会</span>
              <p>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北</p>
              <a href="#"><img src="<%= require('../../../public-resource/imgs/king-design/detail-button.png') %>" alt=""></a>
            </div>
          </li>
        </ul>
      </div>
      <div class="pagination">
        此处为分页组件
      </div>
    </div>
    <div class="friendly-link">
      <p>友情链接</p>
      <ul class="clear">
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
      </ul>
    </div>
  </div>
</div>