<header id="header"></header>
<div id="banner"></div>
<div id="content">
  <div class="wrapper">
    <ul class="list-item">
      <li class="active"><a href="#">公司新闻</a></li>
      <li><a href="#">行业感悟</a></li>
    </ul>
    <div class="news">
      <ul class="list-news">
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/1.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/2.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/3.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/4.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/1.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/1.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/2.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/3.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/4.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/1.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/1.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/2.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/3.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/4.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/1.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/1.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/2.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/3.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/4.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
        <li>
          <div><img src="<%= require('../../../public-resource/imgs/company-news/1.jpg') %>" alt=""></div>
          <dl>
            <dt>感感佳受邀出席红星奖颁奖礼</dt>
            <dd>北京峰会是设计界的高端会议，国务院副总理，国务院相关领导，北京区长以及中央美术</dd>
            <dd><a href="#">了解详情&gt;&gt;</a></dd>
          </dl>
        </li>
      </ul>
      <div class="pagination">
        此处为分页组件
      </div>
    </div>
    <div class="friendly-link">
      <p>友情链接</p>
      <ul class="clear">
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
          <li>
              <a href="http://www.baidu.com">百度</a>
          </li>
      </ul>
    </div>
  </div>
</div>
<footer id="footer"></footer>